<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>SWMS Document</title>
    <style>
      body { margin: 0; padding: 0; font-family: 'Arial', sans-serif; } .page { width: 297mm; /*
      Landscape width */ min-height: 210mm; /* Landscape height */ margin: 10mm auto; border: 1px
      #D3D3D3 solid; border-radius: 5px; background: white; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      page-break-after: always; /* Ensures each .page starts on a new printed page */ } @page {
      size: A4 landscape; margin: 0; } @media print { .page { padding: 10px 20px; border: initial;
      border-radius: initial; width: initial; min-height: initial; box-shadow: initial; background:
      initial; } } .container { display: flex; align-items: center; justify-content: center; width:
      100%; gap: 10px; padding: 0; margin: 0; height: 20px;} .sub-container { flex: 1; display:
      flex; align-items: center; } .container-label { width: 200px; font-size: 12px; }
      .container-content { flex: 1; border: 1px solid black; font-size: 12px; padding: 5px; }
      .content h3 { margin-bottom: 5px; margin-top: 5px; font-size: 16px; } .container-description
      {font-size: 12px; padding: 5px; } /* Existing styles... */ .table-page { page-break-after:
      always; /* Ensure that the entire page breaks after each '.table-page' */ } table { width:
      100%; border-collapse: collapse; /* Optional, for a cleaner table look */ page-break-inside:
      avoid; /* Prevent table rows from being split across pages */ } th, td { border: 1px solid
      black; padding: 5px; } /* Ensure headers and footers appear on each page */ @media print {
      .header, .footer { position: fixed; left: 0; right: 0; } .header { top: 0; } .footer { bottom:
      0; } } .font-bold { font-weight: bold; font-size: 12px; } .font-regular { font-weight: normal;
      font-size: 12px; } td { vertical-align: top; } .dot_point_table {display: flex; border: 1px
      solid black;} .dot_points {flex: 1} .dot_points2 {flex: 2}

    </style>
  </head>
  <body>
    <div class='page'>
      <!-- Header -->
      <div class='content'>

        <h1>{{companyName}}</h1>
        <h2>Safe Work Method Statement (SWMS)</h2>
        <h3>Organisational Details</h3>
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Business Undertaking the Work:</p>
            <p class='container-content'>{{businessName}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>ABN:</p>
            <p class='container-content'>{{abn}}</p>
          </div>

        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Business Address:</p>
            <p class='container-content'>{{projectAddress}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Business Phone #:</p>
            <p class='container-content'>{{businessPhone}}</p>
          </div>

        </div>
        <br />
        <h3>Project and Principal Contractor Details</h3>
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Scope of the Work:</p>
            <p class='container-content'>{{scopeOfWork}}</p>
          </div>

        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Project Address:</p>
            <p class='container-content'>{{projectAddress}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Principal Contractor:</p>
            <p class='container-content'>{{abn}}</p>
          </div>

        </div>
        <br />

        <h3>SWMS | JSEA Details</h3>
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Develped By:</p>
            <p class='container-content'>{{businessName}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Contact #:</p>
            <p class='container-content'>{{abn}}</p>
          </div>

        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Date Developed:</p>
            <p class='container-content'>{{dateDeveloped}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Email:</p>
            <p class='container-content'>{{businessEmail}}</p>
          </div>

        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Approved for Use By:</p>
            <p class='container-content'>{{approvedBy}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Contact #:</p>
            <p class='container-content'>{{businessPhone}}</p>
          </div>

        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Approval Date:</p>
            <p class='container-content'>{{approvalDate}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Signature:</p>
            <p class='container-content'>{{email}}</p>
          </div>
        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Date Last Reviewed:</p>
            <p class='container-content'>{{approvalDate}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Reviewed &amp; Approved for Use by:</p>
            <p class='container-content'>{{businessName}}</p>
          </div>
        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <p class='container-label'>Signature:</p>
            <p class='container-content'>{{email}}</p>
          </div>
          <div class='sub-container'>
            <p class='container-label'>Next Review Date:</p>
            <p class='container-content'>{{nextReviewDate}}</p>
          </div>
        </div>
        <br />
        <div class='container'>
          <div class='sub-container'>
            <div class='container-label'>Monitoring and Review:</div>
            <div class='container-description'>Visual monitoring of control measures will be
              undertaken and reviewed if circumstances change. The SWMS | JSEA will be amended if
              there is a change in the activity.</div>
          </div>
        </div>
        <br />
        <div class='container'>

          <div class='sub-container'>
            <div class='container-label'>Consultation:</div>
            <div class='container-description'>Relevant personnel (including HSR’s where
              established) have been consulted in the development, and where required, review and
              amending of this SWMS | JSEA.</div>
          </div>
        </div>
        <br />

      </div>

      <!-- Footer -->
      <footer>
        <p>Page 1 of 1</p>
      </footer>
    </div>
    <div class='page'>
      <h4>Supplementary Information</h4>
      <h6>Plant | Equipment Involved</h6>
      <ol>
        <li>All items are inspected prior to use | all corded electrical power tools tested & tagged
          to AS/NZS 3760</li>
        <li>Maintenance & servicing records are maintained for plant and equipment owned by Fresh
          Start Projects Pty Ltd</li>
        <li>Maintenance & servicing records for hire or contractor items are maintained by the
          respective hirer and contractor</li>
      </ol>
      <h6>Qualifications | Certificates of Competency | Experience | Training | High Risk Licences</h6>
      <ul>
        <li>General Construction Induction (White Card)</li>
        <li>Builder / PC Site Induction</li>
        <li>Pre-Start | Toolbox Meeting</li>
        <li>SWMS | JSEA Induction</li>
      </ul>
      <h6>Reference Relevant Legislation | Codes of Practice / Compliance Codes | Australian
        Standards
      </h6>
      <div class='dot_point_table'>
        <div class='dot_points'>
          <ul>
            <li>WHS Act 2011</li>
            <li>Environmental Protection Act 1994</li>
            <li>Workers Compensation and Rehabilitation Act 2003</li>
            <li>Electrical Safety Regulation</li>
            <li>Plant Code of Practice 2013</li>
            <li>Formwork Code of Practice 2016</li>
            <li>Scaffolding Code of Practice 2009</li>
            <li>2011 AS/NZS 31000 Risk Management</li>
            <li>Hazardous Manual Tasks Code of Practice 2011</li>
          </ul>
        </div>
        <div class='dot_points2'>
          <ul>
            <li>WHS Regulations 2011</li>
            <li>Environmental Protection Regulation 2008</li>
            <li>Workers' Compensation and Rehabilitation Regulation 2014</li>
            <li>Division 6 WHS Regulation Section 368. PCBU duty to provide the health monitoring
              for RCS.</li>
            <li>Silica Dust - Managing exposure in the workplace 2019 – Inclusion of Stone Bench
              Tops</li>
            <li>Fit Testing Process AS/NZS1715 (Respiratory Protection)</li>
            <li>Managing the Risk of Falls at Workplaces Code of Practice 2018</li>
            <li>AS/NZS 3760:2010 In-Service safety inspection & testing of electrical equipment.</li>
            <li>Electrical Safety COP 2013 - Managing electrical risk in the workplace.</li>
          </ul>

        </div>
      </div>
    </div>
    <div class='page'>
      <h6>Reference Relevant Legislation | Codes of Practice / Compliance Codes | Australian
        Standards (Cont.)
      </h6>
      <div class='dot_point_table'>
        <div class='dot_points'>
          <ul>
            <li>Confined Spaces Code of Practice 2011</li>
            <li>First Aid Code of Practice 2014</li>
            <li>AS/NZS 1892 Portable Ladders.</li>
            <li>AS/NZS 1657 Fixed Ladders</li>
            <li>Hazardous Chemicals Code of Practice 2013</li>
            <li>How to Safely Remove Asbestos Code of Practice 2011</li>
          </ul>
        </div>
        <div class='dot_points2'>
          <ul>
            <li>AS/NZS 3012:2010 Electrical Installations</li>
            <li>Traffic Management for Construction or Maintenance Work Code of Practice 2008</li>
            <li>How to Manage Work Health and Safety Risks Code of Practice 2011</li>
            <li>Managing Noise and Preventing Hearing Loss at Work COP 2011</li>
            <li>How to Manage and Control Asbestos in the Workplace Code of Practice 2011 NOHSC
              (2005) 2018</li>
            <li>Work Health and Safety Consultation, Co-operation and Co-ordination 2011</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Start of dynamic table on page 2 -->
    <div class='page table-page'>

      <!-- Dynamic Table Content -->
      <div class='content'>
        <table>
          <thead>
            <tr>
              <!-- Define your table headers -->
              <th>No</th>
              <th>Task | Activity</th>
              <th>Potential Hazards</th>
              <th>Risk Scores (before)</th>
              <th>Control Measures</th>
              <th>Risk Score (After)</th>
              <th>Responsible Person</th>
              <!-- Add as many headers as needed -->
            </tr>
          </thead>
          <tbody>
            {{#each tableData}}
              <tr>
                <td colspan='7'><p class='font-bold'>{{this.index}} {{this.name}}</p></td>
              </tr>
              {{#each values}}
                <tr>
                  <td class='font-bold'>{{this.index}}</td>
                  <td>
                    {{#each this.task}}
                      <p class='font-regular'>&bull; {{this}}</p>
                    {{/each}}
                  </td>
                  <td>
                    {{#each this.potentialHazards}}
                      <p class='font-regular'>&bull; {{this}}</p>
                    {{/each}}
                  </td>
                  <td><p class='font-regular'>{{this.riskBefore}}</p></td>
                  <td>
                    {{#each this.controlMeasures}}
                      <p class='font-regular'>

                        &bull;
                        {{this.name}}
                      </p>
                      {{#each this.values}}
                        <p class='font-regular' style='margin-left: 20px;'>&#9702; {{this}}</p>
                      {{/each}}
                    {{/each}}
                  </td>
                  <td class='font-regular'>{{this.riskAfter}}</td>
                  <td class='font-regular'>Ryan</td>
                  <!-- Add as many columns as needed -->
                </tr>
              {{/each}}
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>

    <!-- Add additional pages as needed -->

  </body>
</html>